
  <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">
            <h4>
              <i class="material-icons"></i>
              Book store
            </h4>
          </li>
        </ul>
      </div>
    </div>
  
  
  <div class="content-center">
    <div class="content-t">
  
        <div class="row">
            <h3>Registration Form</h3>
          </div>
          <div class="row">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Enter your name">
          </div>
          <div class="row">
            <label for="u_name">User name</label>
            <input type="text" name="u_name" id="u_name" placeholder="Enter your user name">
          </div>
          <div class="row">
            <label for="user_email">Email</label>
            <input type="email" name="user_email" id="user_email" placeholder="Enter your email">
          </div>
          <div class="row">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your password">
          </div>
          <div class="row">
            <label for="c_password">Confirm password</label>
            <input type="password" name="c_password" id="c_password" placeholder="Enter your confirm password">
          </div>
          <div class="row">
              <button type="reset" class="cancle">Cancle</button>
              <a routerLink="/login"><button type="submit">Save</button></a>
          </div>
          <div class="row pt-2">
            <span>Are you already register?</span>
              <a routerLink="/login"> 
                <span>Click here</span>
              </a>
          </div>
    </div>
  </div>