<div class="row">
  <div class="small-12 medium-8 columns">
    <h3>Books</h3>
      <input type="text" [(ngModel)]="lifeGoals" (ngModelChange)="searchData($event)"  placeholder="search book"/>
    <ul class="product-list">
      <div *ngFor="let product of products | async">
          <div *ngIf="showField(product.name)">
              <li class="product-container">
          <div class="row">
            <div class="medium-3 columns text-center">
              <img src="./assets/book/{{product.id}}.jpg"
                   class="product_image"/>
            </div>
            <div class="medium-9 columns">
              <h4>
                <span class="text--bold js-product-name">{{product.name}}</span>
                <small class="product_price js-product-price">{{product.price | currency:'INR':true}}</small>
              </h4>
              <p class="js-product-desc">{{product.description}}</p>
              <p>
                <span style="font-size: 25px" class="text--bold">Details:</span>
                <br/>
                <span >
                 <b> Author: </b> {{product.ingredients[0].name}} <br/>
                  <b> Publication: </b> {{product.ingredients[1].name}}
                  <br/>
                </span>
              </p>
              <p>
                <button type="button"
                        class="button success large js-btn-add"
                        (click)="addProductToCart(product, 1)">Add To Cart</button>
                <button type="button"
                        class="button small js-btn-remove"
                        *ngIf="productInCart(product) | async"
                        (click)="removeProductFromCart(product, 1)">Remove item from cart</button>
              </p>
            </div>
          </div>
        </li>
        </div>
    </div>
    </ul>
  </div>
  <div class="small-12 medium-4 columns">
    <app-shopping-cart></app-shopping-cart>
  </div>
</div>
